.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  width: 90%;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-success {
  width: 90%;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.myForm {
  background-color: #dfe6e9;
  border-radius: 5px;
  padding: 20px;
}

.myButton {
  width: 100%;
  background-color: #00b894;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.myButtonE {
  width: 100%;
  background-color: #00b894;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.myButtonEx {
  width: 100%;
}
.myButtonEd {
  width: 50%;
  background-color: yellow;
  color: black;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.myButtonEl {
  width: 50%;
  background-color: red;
  color: black;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table.minimalistBlack {
  border: 3px solid #000000;
  width: 125%;
  text-align: left;
  border-collapse: collapse;
}
table.minimalistBlack td,
table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.minimalistBlack tbody td {
  font-size: 13px;
}
table.minimalistBlack thead {
  background: #cfcfcf;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
  background: -webkit-linear-gradient(
    top,
    #dbdbdb 0%,
    #d3d3d3 66%,
    #cfcfcf 100%
  );
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
  border-bottom: 3px solid #000000;
}
table.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
table.minimalistBlack tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 3px solid #000000;
}
table.minimalistBlack tfoot td {
  font-size: 14px;
}
